body {
    display: flex;
    justify-content: center;
    background-image: url('./img/back.png');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    font-family: "digital_7", sans-serif;
}
@font-face {
    font-family: "digital_7";
    src: url("./font/digital-7-mono-italic.ttf") format("truetype"),
         url("./font/digital-7-mono.ttf") format("truetype");
         
    font-weight: normal;
    font-style: normal;
  }
#Conteiner{
    background-color: rgb(128, 130, 132);
    height: 370px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 5px;
    border-radius: 10%;
    box-shadow: 0 10px 15px rgb(0, 0, 0), 0 10px 15px rgb(0, 0, 0);
}
#Display{
    background-color: rgb(160, 187, 172);
    height: 20%;  
    border: solid;
    border-radius: 15%;
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: end;
}
.row{
    display: flex;
    justify-content: space-around;
    gap: 3%;
}
button{
    height: 110%;
    width: 20%;
    border-radius: 50%;
    margin-bottom: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.569), 0 2px 4px rgba(0,0,0,0.23);
}
button:hover{
    background-color: rgb(97, 145, 186);
}
p{
    font-weight: 500;
    font-size: 40px;
}
.memory{
    background-color: rgb(14, 14, 96);
    font-size: medium;
    border-radius: 100%;
    color: aliceblue;
}
.memory:hover{
    background-color: rgb(80, 80, 206);
    cursor: pointer ;
}
.delet{
    background-color: rgb(208, 104, 24);
    font-size:12px;
    color: rgb(23, 24, 24);
}
.delet:hover{
    background-color: rgb(202, 148, 107);
    cursor: pointer ;
}
.op{
    background-color: rgb(64, 53, 53);
    color: rgb(254, 254, 254);
    font-size:10px;
}
.op:hover{
    background-color: rgb(157, 147, 147);
    cursor: pointer;
}